body {
    overflow: hidden;
}

.data {
    margin: 20px 20px;
}

.database-btn a {
    margin: 10px;
}

.progress {
    visibility: hidden;
    margin-left: 5px;
}

.assign {
    margin: auto;
    width: 40%;
}

#adminname {
    padding-left: 10px;
    border: 2px solid #1d72bc;
}

#adminemail {
    padding-left: 10px;
    border: 2px solid #1d72bc;
}

hr {
    margin: 20px 40px;
}

h5 {
    font-weight: bold;
}

@media only screen and (max-width:900px) {
    .assign {
        width: 90%;
        margin-left: 4%;
        margin-right: 6%;
    }
    hr {
        margin: 30px 10px;
    }
    h4 {
        font-size: 25px;
    }
}