@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

h4 {
  margin: 0;
  padding-top: 10px;
  color: white;
  padding-right: 60px;
}

.btn {
  border-radius: 10px;
  text-transform: none;
  font-size: 15px !important;
  font-weight: bold !important;
  position: -2px;
}

.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1976d2;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 2
}

.top-nav li {
  float: left;
}

.top-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-nav li a:hover {
  background-color: #074983;
}

.progress {
  background-color: #90bce9;
}